.editor{
width:720px;
min-height:450px;
height:auto;
background-color:#fff;
margin:100px;
}


.editor_bar{
width:100%;
height:50px;
background-color:#4C8CCA;
position:fixed;
top:0;
left:0;
}


.editor_bar_cell{
width:85px;
height:38px;
border-bottom:3px solid #ccc;
margin:6px;
float:right;
text-align:center;
font-size:15px;
color:#fff;
}

.editor_bar_buttons{
width:85px;
line-height:30px;
height:30px;
margin:6px;
border-radius:3px;
float:left;
text-align:center;
font-size:16px;
color:#fff;
background-color:#4BB648;
}

.editor_bar_cell:hover{
border-bottom:3px solid #fff;
}

.editor_bar_cell img{width:17px;margin:0px 26px;}

.editor_bar_option{
width:100%;
height:80px;
background-color:#ccc;
position:fixed;
top:50;
left:0;
display:none;
}

.editor_bar_option_cell{
width:190px;
height:70px;
margin:3px 50px;
text-align:center;
border:1px solid #999;
float:right;
}

.editor_bar_option_cell_image{
width:450px;
height:100%;
float:right;
padding-right:100px;
padding-left:50px;
}

.add_image_from_divice{
width:200px;
height:55px;
margin:10px auto;
background-color:#000;
border:0;
}

.editor_bar_option_one_cell{
width:450px;
height:42px;
margin:18px auto;
text-align:center;
}

.editor_bar_option_one_cell_input{
width:360px;height:100%;float:right;border:0px;text-align:center;
}
.editor_bar_option_one_cell_button{
width:87px;height:100%;float:right;border:0px;
}

.text_area{
width:98%;
height:auto;
min-height:300px;
float:right;
margin:20px auto;
text-align:right;
background-color:#fff;
}

